/* -- General -- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: url(../Images/remote-control-table-with-tv-background\(2\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

/* -- Page Headings -- */

.page-title h1 {
    font-size: 170px;
    color: #9b2226;
    font-weight: 700;
    border: #fafafa;
    text-shadow: 2px 2px 2px rgba(111, 111, 114, 0.5);
}

.quote {
    color: #9b2226;
    border: #fafafa;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    text-shadow:  2px 2px 2px rgba(111, 111, 114, 0.5);
}

/* -- Footer -- */

.page-footer {
    margin-top: 10px;
    background-color: #001219;
}

.footer-media {
    color: #fafafa;
}

/* -- Nav Bar -- */

.nav-bar {
    background-color: #001219;
}

.nav-style {
    background-color: #fafafa;
    color: #001219;
    text-shadow: 2px 2px 2px rgba(213, 212, 214, 0.5);
    margin-right: 20px;
}

.brand-logo {
    margin-left: 20px;
    text-shadow: 2px 2px 2px rgba(213, 212, 214, 0.5);
}

/* -- Cards -- */

.main-card {
    background-color: #fafafa;
    color: #001219;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.card-image img {
    border: #001219;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 40px;
    max-height: 200px;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
  }

/* -- Flash Text -- */

.flashes {
    line-height: 3;
}

/* -- Search Bar -- */  

.search-bar {
    background-color: #fafafa;
    color: #001219;
    border-radius: 20px;
    height: 50px;
    width: 100px;
}

.search-text {
    color: #001219;
}

/* -- Buttons -- */

.srch-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.srch-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 6.0;
}

.login-btn {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #ca6702;
    color: #fafafa;
    border-color: #001219;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
    margin: 10px;
    padding: 10px;
}

.login-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 6.0;
}

.show-btn {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #005f73;
    color: #fafafa;
    border-color: #001219;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
    margin: 10px;
    padding: 10px;
}

.show-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 6.0;
}

.like-btn {
    color: #01161E;
}

.like-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 6.0;
}



