@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

body {
    background: radial-gradient(64.72% 127.99% at 50% 50%, #ff9f1c 42.99%, #01161E 100%);
    font-family: 'Roboto';
}

.page-footer {
    background-color: black;
}

.nav-bar {
    background-color: black;
}

.side-nav {
    margin-right: 20px;
}

.brand-logo {
    margin-left: 20px;
    text-shadow: 2px 2px 2px rgba(173, 2, 2, 0.5);
}

.register-header {
    margin: 10px;
}
.main-card {
    background-color: #fafafa;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.flashes {
    line-height: 3;
}

.show-panel {
    border-radius: 10px;
}

.btn {
    background-color: #e71d36;
    color: #fafafa;
    border-radius: 10px;
    margin: 10px;
}

.btn:hover {
    background-color: #fdfffc;
    color: black;
    transform: scale(1.1);
    transition: 6.0;
}

.quote {
    margin: 20px;
    padding: 10px;
}