@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

body {
    background: radial-gradient(64.72% 127.99% at 50% 50%, #AEC3B0 42.99%, #01161E 100%);
    font-family: 'Roboto';
}

.page-footer {
    background-color: black;
}

.nav-bar {
    background-color: black;
}

.logo {
    margin-left: 10px;
}

.register-header {
    margin: 10px;
}
.main-card {
    background-color: black;
    color: #fafafa;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}