@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&display=swap');

body {
    background: url(../Images/remote-control-table-with-tv-background\(2\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.page-title {
    color: #001219;
    font-size: 150%;
    font-weight: 900;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(111, 111, 114, 0.5);
}

.page-footer {
    margin-top: 10px;
    background-color: #001219;
}

.nav-bar {
    background-color: #001219;
}

.nav-style {
    background-color: #fafafa;
    color: #001219;
    text-shadow: 2px 2px 2px rgba(213, 212, 214, 0.5);
    margin-right: 20px;
}

.brand-logo {
    margin-left: 20px;
    text-shadow: 2px 2px 2px rgba(213, 212, 214, 0.5);
}

.register-header {
    margin: 10px;
}

.main-card {
    background-color: #fafafa;
    color: #001219;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.flashes {
    line-height: 3;
}

.show-panel {
    background-color: #fafafa;
    color: #001219;
    border: #001219;
    border-radius: 10px;
}

.card-image img {
    border: #001219;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 40px;
    max-height: 200px;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
  }

.search-bar {
    background-color: #fafafa;
    color: #001219;
    border-radius: 20px;
    height: 50px;
    width: 100px;
}

.search-text {
    color: #001219;
}

.srch-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.btn {
    background-color: #005f73;
    color: #fafafa;
    border-radius: 10px;
    margin: 10px;
}

.btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 6.0;
}

.show-btn {
    background-color: #005f73;
    color: #fafafa;
    border-color: #001219;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
    margin: 10px;
    padding: 10px;
}

.like-btn {
    color: #01161E;
}

.like-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 6.0;
}

.quote {
    margin: 20px;
    padding: 10px;
}

.footer-media {
    color: #fafafa;
}