/* -- General -- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: url(../Images/remote-control-table-with-tv-background\(2\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: -9999;
}

/* -- Page Headings -- */

.page-title h1 {
    font-size: 170px;
    color: #9b2226;
    font-weight: 700;
    border: #fafafa;
    text-shadow: 2px 2px 2px rgba(111, 111, 114, 0.5);
}

.page-heading h1 {
    font-size: 120px;
    color: #9b2226;
    font-weight: 500;
    border: #fafafa;
    text-shadow: 2px 2px 2px rgba(111, 111, 114, 0.5);
}

.home-text {
    color: #9b2226;
    border: #fafafa;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    text-shadow:  2px 2px 2px rgba(111, 111, 114, 0.5);
}

/* -- Footer -- */

.page-footer {
    margin-top: 10px;
    background-color: #001219;
}

.footer-media {
    color: #fafafa;
}

/* -- Nav Bar -- */

.nav-bar {
    background-color: #001219;
}

.nav-style {
    background-color: #001219;
    color: #001219;
    text-shadow: 2px 2px 2px rgba(213, 212, 214, 0.5);
    margin-right: 20px;
}

.nav-style li>a {
    color: #fafafa;
    font-size: 20px;
}

.brand-logo {
    margin-left: 20px;
    text-shadow: 2px 2px 2px rgba(213, 212, 214, 0.5);
}

/* -- Cards -- */

.main-card {
    background-color: #fafafa;
    color: #001219;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.show-card {
    background-color: #fafafa;
    color: #001219;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    max-height: 400px;
    min-height: 400px;
}

.card-image img {
    border: #001219;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 200px;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
}

.show-image img {
    border: #001219;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 400px;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
}

.show-info {
    margin-top: 10px;
}

/* -- Flash Text -- */

.flashes {
    line-height: 3;
}

/* -- Search Bar  -- */ 

.search-bar {
    background-color: #fafafa;
    color: #001219;
    border-radius: 20px;
    height: 80px;
}

.search-text {
    color: #001219;
}

/* -- Buttons -- */

.srch-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.srch-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 2s;
}

.login-btn {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #ca6702;
    color: #fafafa;
    border-color: #001219;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
    margin: 10px;
    padding: 10px;
}

.login-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 2s;
}

.show-btn {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #005f73;
    color: #fafafa;
    border-color: #001219;
    box-shadow: 2px 2px 2px rgba(9, 0, 58, 0.5);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.show-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 2s;
}

.like-btn {
    color: #01161E;
}

.like-btn:hover {
    background-color: #fdfffc;
    color: #001219;
    transform: scale(1.1);
    transition: 2s;
}

/* -- Modal -- */

.modal {
    background-color: #001219;
    color: #fafafa;
    border-radius: 10px;
    max-width: 300px;
    min-height: 300px;
}

/* -- Media Queries -- */

@media only screen and (max-width : 800px) {
.page-title h1 {
    font-size: 100px;
}
.page-heading h1 {
    font-size: 80px;
}
.home-text {
    font-size: 22px;
}
}

@media only screen and (max-width : 400px) {
body {
    min-height: auto;
}
.page-title h1 {
    font-size: 50px;
}
.page-heading h1 {
    font-size: 80px;
}
.home-text {
    font-size: 22px;
}
.show-image img {
     max-height: 300px;
}
}