{% extends "base.html" %}
{% block content %}

    <div class="home-card">
        <!-- Page Header -->
        <div class="row center-align page-heading">
            <h1>Add a Show</h1>
        </div>
        <!-- Add a show form-->
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('add_shows') }}">
                <div class="card-panel main-card">
                    <!-- Show Name -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="show_name" name="show_name" type="text" class="validate" required>
                            <label for="show_name">Show Name</label>
                        </div>
                    </div>
                    <!-- Show Genre -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <select id="genre_name" name="genre_name" class="validate" required>
                                <option value="" disabled selected>Select Genre</option>
                                {% for genre in genre_catergory %}
                                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="genre_name">Genre</label>
                        </div>
                    </div>
                    <!-- Number of Seasons -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <select id="seasons" name="seasons" class="validate" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8 or more...</option>
                            </select>
                            <label for="seasons">Number of Seasons</label>
                        </div>
                    </div>
                    <!-- Show Platflorm -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <select id="platform" name="platform" class="validate" required>
                                <option value="" disabled selected>Choose your platform</option>
                                {% for platform in platform_catergory %}
                                    <option value="{{ platform.platform_name }}">{{ platform.platform_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="platform">Platform</label>
                        </div>
                    </div>
                    <!-- Shows Starring actor -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="starring" name="starring" type="text" class="validate" required>
                            <label for="starring">Starring</label>
                        </div>
                    </div>
                    <!-- Review Show Input -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <textarea id="review" name="review" class="materialize-textarea" minlength="20" 
                            maxlength="400" required></textarea>
                            <label for="review">
                            Review
                            </label>
                        </div>
                    </div>
                    <!-- Shows Image -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-image prefix"></i>
                            <input id="show_image" name="show_image" type="url" class="validate" required>
                            <label for="show_image">Add Image Link here</label>
                        </div>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="show-btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}