{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Add A Show</h1>

        <!-- Add a show form-->
        <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_shows') }}">
                    <div class="card-panel main-card">
                        <!-- Show Name -->
                        <div class="row">
                            <div class="input-field col s8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <input id="show_name" name="show_name" type="text" class="validate" required>
                                <label for="show_name">Show Name</label>
                            </div>
                        </div>
                        <!-- Show Genre -->
                        <div class="row">
                            <div class="input-field col s8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <select id="genre_name" name="genre_name" class="validate" required>
                                    <option value="" disabled selected>Select Genre</option>
                                    {% for genre in genre_catergory %}
                                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="genre_name">Genre</label>
                            </div>
                        </div>
                        <!-- Number of Seasons -->
                        <div class="row">
                            <div class="input-field col s8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <select id="seasons" name="seasons" class="validate" required>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8 or more...</option>
                                </select>
                                <label for="seasons">Number of Seasons</label>
                             </div>
                        </div>
                        <!-- Show Platflorm -->
                        <div class="row">
                            <div class="input-field col s8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <select id="platform" name="platform" class="validate" required>
                                    <option value="" disabled selected>Choose your platform</option>
                                    <option value="1">Netflix</option>
                                    <option value="2">Hulu</option>
                                    <option value="3">Sky</option>
                                    <option value="4">HBO</option>
                                    <option value="5">Amazon Prime</option>
                                </select>
                                <label for="platform">Platform</label>
                             </div>
                        </div>
                        <!-- Shows Starring actor -->
                        <div class="row">
                            <div class="input-field col s8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <input id="starring" name="starring" type="text" class="validate" required>
                                <label for="starring">Starring</label>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" type="submit">
                                Submit
                                <i class="far fa-check-circle"></i>
                            </button>
                        </div>
                    </div>
                </form>
        </div>

{% endblock %}