{% extends "base.html" %}
{% block content %}

    <!-- Page Header -->
    <div class="row center-align page-heading">
        <h1>Edit {{ show.show_name }}</h1>
    </div>

        <!-- Edit a show form-->
        <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('edit_show', show_id=show._id) }}">
                    <div class="card-panel main-card">
                        <!-- Show Name -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <input id="show_name" name="show_name" value="{{ show.show_name }}"
                                 type="text" class="validate" required>
                                <label for="show_name">Show Name</label>
                            </div>
                        </div>
                        <!-- Show Genre -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <select id="genre_name" name="genre_name" class="validate" required>
                                    <option value="{{ show.genre_name }}" disabled>Select Genre</option>
                                    {% for genre in genre_catergory %}
                                        {% if genre.genre_name == show.genre_name %}
                                            <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                                        {% else %}
                                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="genre_name">Genre</label>
                            </div>
                        </div>
                        <!-- Number of Seasons -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <select id="seasons" name="seasons" class="validate" required>
                                    <option value="{{ show.seasons }}" selected>{{ show.seasons }}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8 or more...</option>
                                </select>
                                <label for="seasons">Number of Seasons</label>
                             </div>
                        </div>
                        <!-- Show Platflorm -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <select id="platform" name="platform" class="validate" required>
                                    <option value="{{ show.platform }}"  selected>{{ show.platform }}</option>
                                    {% for platform in platform_catergory %}
                                        {% if platform.platform_name == show.platform_name %}
                                            <option value="{{ platform.platform_name }}">{{ platform.platform_name }}</option>
                                        {% else %}
                                            <option value="{{ platform.platform_name }}">{{ platform.platform_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="platform">Platform</label>
                             </div>
                        </div>
                        <!-- Shows Starring actor -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <input id="starring" name="starring" value="{{ show.starring }}"
                                 type="text" class="validate" required>
                                <label for="starring">Starring</label>
                            </div>
                        </div>
                        <!-- Review Show Input -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-pencil-alt"></i>
                                <textarea id="review" name="review" value="{{ show.review }}"
                                class="materialize-textarea validate" minlength="20" 
                                maxlength="400" required>{{ show.review }}</textarea>
                                <label for="review">
                                    Review
                                </label>
                            </div>
                        </div>
                        <!-- Shows Image -->
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <i class="fas fa-image prefix"></i>
                                <input id="show_image" name="show_image" value="{{ show.show_image }}
                                 type="url" class="validate" required>
                                <label for="show_image"></label>
                            </div>
                        </div>
                        <!-- Like and dislike -->
                        <div class="row like-edit">
                            <div class="col s12 m6 center-align">
                                <span>Binge-worthy <i class="far fa-thumbs-up"></i>{{ show.likes }}</span>
                            </div>
                            <div class="col s12 m6 center-align">
                                <span>Unworthy <i class="far fa-thumbs-down"></i>{{ show.dislikes }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('get_shows') }}" class="btn-floating btn-large waves-effect show-btn">
                                Cancel
                                <i class="far fa-times-circle"></i>
                            </a>
                            <button data-target="{{ show._id }}" class="btn-floating btn-large waves-effect show-btn modal-trigger" type="submit">
                                Edit
                                <i class="far fa-check-circle"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Modal Structure -->
                    <div id="{{ show._id }}" class="modal">
                        <div class="modal-content">
                            <h4>WARNING!</h4>
                            <p>Your about to edit <strong>{{ show.show_name }}!</strong></p>
                        </div>
                        <div class="modal-footer modal-style">
                            <a href="{{ url_for('get_shows') }}" 
                            class="modal-action modal-close btn-floating btn-large waves-effect show-btn center-align">
                            Cancel
                            </a>
                            <a href="{{ url_for('edit_show', show_id=show._id) }}" data-target="{{ show._id }}" 
                            class="btn-floating btn-large waves-effect show-btn center-align">
                            Edit
                            </a>
                        </div>
                    </div>
                </form>
        </div>

{% endblock %}