{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="main-card card ">
                <div class="card-content center-align">
                    <span class="card-title center-align m-1">
                        <h1>Binge Flix</h1>
                    </span>
                    <quote class="col s12 m6 offset-m3">TV now, you have to plan it: you structure it for binge watching, 
                        meaning you structure the whole season like a three-act play. 
                        You have a first act - the first third of the season - 
                        second act is the middle third, and you structure it like that.
                    </quote>
                    <cite class="col s12">~Guillermo del Toro~</cite>
                </div>
                <div class="row">
                    <a href="{{ url_for('login') }}"
                        class="col s12 m2 offset-m5 btn center-align">
                        Log in <i class="fas fa-sign-in-alt"></i>
                    </a>
                </div>
                <div class="row center-align">
                    <p>
                    Not a Member? 
                    <a href="{{ url_for('register') }}" class="redirect-text">Register here!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}