{% extends "base.html" %}
{% block content %}

    <!-- Registration Form -->
    <div class="center-align page-heading">
        <h1>{{ username}}'s Shows</h1>
    </div>

    <div class="row">
    {% for show in shows if session.user|lower == show.posted_by|lower %}
    <!-- Card Panel with SHow information -->
        <div class="col s12 m4">
            <div class="card-panel show-card">
                <div class="row center-align">         
                    <h5>{{ show.show_name }}</h5><br>
                    <a href="{{ url_for('show_details', show_id=show._id) }}" class="card-image">
                        <img src="{{show.show_image}}" alt="Image of {{show.show_name}}">
                    </a>
                </div>
                <!-- Likes -->
                <div class="row">
                    <div class="center-align score">
                        <span>Bingeworthy Score <strong>{{ show.likes }}</strong></span>
                    </div>
                </div>
                <!-- Edit show button -->
                {% if session.user|lower == show.posted_by|lower %}
                    <div class="row center-align">
                        <a href="{{ url_for('edit_show', show_id=show._id) }}" class="btn-floating btn-large waves-effect show-btn">Edit</a>
                        <button data-target="{{ show._id }}" type="button" class="btn-floating btn-large waves-effect show-btn modal-trigger">Delete</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="{{ show._id }}" class="modal">
            <div class="modal-content">
                <h4>WARNING!</h4>
                <p>Your about to delete <strong>{{ show.show_name }}!</strong></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn-floating btn-large waves-effect show-btn">
                Cancel
                </a>
                <a href="{{ url_for('delete_show', show_id=show._id) }}" data-target="{{ show._id }}" 
                class="btn-floating btn-large waves-effect show-btn">
                Delete
                </a>
            </div>
        </div>
    {% endfor %}
    </div>   

{% endblock %}