{% extends "base.html" %}
{% block content %}

    <!-- Registration Form -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel main-card">
                <div class="row">
                    <h3 class="center-align">
                        {{ username }}'s Shows
                    </h3>
                </div>
            </div>
        </div>
    </div>

    {% for show in shows if session.user|lower == show.posted_by|lower %}
    <!-- Card Panel with SHow information -->
    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel main-card">
                <div class="row">
                    <div class="col  s6 m6 left">         
                        <h5 class="center-align">{{ show.show_name }}</h5><br>
                        <strong>Genre: </strong>{{ show.genre_name }}<br>
                        <strong>No. Seasons: </strong>{{ show.seasons }}<br>
                        <strong>Platform: </strong>{{ show.platform }}<br>
                        <strong>Starring: </strong>{{ show.starring }}<br>
                        <strong>Review: </strong>{{ show.review }}<br>
                        <p><em>Posted by: {{ show.posted_by }}</em></p>
                    </div>
                    <div class="col s6 m6 card-image right">
                        <img src="{{show.show_image}}" alt="Image of {{show.show_name}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 center-align">
                        <span>Binge-worthy <i class="far fa-thumbs-up"></i>{{ show.likes }}</span>
                    </div>
                    <div class="col s12 m6 center-align">
                        <span>Unworthy <i class="far fa-thumbs-down"></i>{{ show.dislikes }}</span>
                    </div>
                </div>
            </div>
            <!-- Edit show button -->
            {% if session.user|lower == show.posted_by|lower %}
            <div class="row center-align">
                <a href="{{ url_for('edit_show', show_id=show._id) }}" class="btn-floating btn-large waves-effect waves-light green">Edit</a>
                <a href="{{ url_for('delete_show', show_id=show._id) }}" class="btn-floating btn-large waves-effect waves-light red">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>   
    {% endfor %}

{% endblock %}