{% extends "base.html" %}
{% block content %}

    <!-- Page Header -->
    <div class="row center-align page-heading">
        <h1>Shows</h1>
    </div>

    <!-- Search Bar -->
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12 m6 search-bar offset-m3">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s9 m6">
                    <input type="text" name="query" id="query" minlength="3" required>
                    <label for="query">Search For Shows by Name</label>
                </div>
                <div class="col s3 m2">
                    <button type="submit" class="srch-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>  
            </div>
        </form>
    </div>

    {% if shows|length > 0 %}
        <!-- Card Panel with Show --> 
        <div class="row">
            {% for show in shows %}       
                <div class="col s12 m4">
                    <div class="card-panel show-card">
                        <div class="row center-align">        
                            <h5 class="">{{ show.show_name }}</h5>
                            <p><em>Posted by: {{ show.posted_by }}</em></p>
                            <a href="{{ url_for('show_details', show_id=show._id) }}" class="card-image">
                            <img src="{{show.show_image}}" alt="Image of {{show.show_name}}">
                            </a>
                        </div>
                    </div>
                </div>          
            {% endfor %}
        </div> 
    {% else %}
        <div class="row center-align page-heading">
            <h1>No Results Found!</h1>
        </div>
    {% endif %}   

{% endblock %}