{% extends "base.html" %}
{% block content %}

    <div class="row center-align">
        <h1>Trending Shows</h1>
    </div>

    {% for show in shows %}
    <!-- Card Panel with Show information -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card-panel main-card">
                <div class="row">         
                    <h5 class="center-align">{{ show.show_name }}</h5><br>
                    <strong>Genre: </strong>{{ show.genre_name }}<br>
                    <strong>No. Seasons: </strong>{{ show.seasons }}<br>
                    <strong>Platform: </strong>{{ show.platform }}<br>
                    <strong>Starring: </strong>{{ show.starring }}<br>
                    <strong>Review: </strong>{{ show.review }}<br>
                    <p><em>Posted by: {{ show.posted_by }}</em></p>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <button href="{{ url_for('like') }}">Like</button>
                        <span>0</span>
                    </div>
                </div>
            </div>
            <!-- Edit show button -->
            {% if session.user|lower == show.posted_by|lower %}
            <div class="row">
                <a href="{{ url_for('edit_show', show_id=show._id) }}" class="btn-floating btn-large waves-effect waves-light green">Edit</a>
                <a href="{{ url_for('delete_show', show_id=show._id) }}" class="btn-floating btn-large waves-effect waves-light red">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>   
    {% endfor %}

{% endblock %}